<section class="header">
    <header>
        <h1>Lista de Compras</h1>
    </header>
</section>

<section class="principal">
    <div class="input-area">
        <input type="text" [(ngModel)]="novoProduto" placeholder="Digite um produto" />
        <button (click)="incluirProdutos()">Adicionar</button>
    </div>
    <div class="list_itens">
        <ul>
            <li *ngFor="let item of listaProdutos; let i = index">
                {{ item }}
              <button class="btn-remove" (click)="removerProdutos(i)">Remover</button>
            </li>
        </ul>
    </div>
    <button class="btn-clean" (click)="limparLista()">Limpar lista</button>
</section>