<header>
    <h1>Lista de Compras</h1>
</header>
<section class="principal">
    <fieldset>
        <input
       
        type="text"
        [(ngModel)]="novoProduto"
        placeholder="Digite um produto"
        />
    
        <button (click)="incluirProdutos()">Adicionar</button>
        
    </fieldset>
    <fieldset>
        <ul >
          <li id="idtexto" *ngFor="let item of listaProdutos">
            {{ item }}
          </li>
          <button (click)="removerProdutos()">Remover</button>
        </ul>
        
    </fieldset>
</section>