* {
    font-family: Arial, Helvetica, sans-serif;
}

 .input-area {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
  }
  
.list_itens {
    display: flex;
    justify-content: space-between;
    align-items: center;

  .list_itens ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .list_itens li {
    background-color: #f3f3f3;
    justify-content: space-between; 
    margin-bottom: 6px;
    padding: 8px 12px;
    border-radius: 6px;
  }
}

.btn-remove {
    background-color: transparent;
    border: none;
    color: #e74c3c;
    padding: 5px 5px;
    border-radius: 4px;
    cursor: pointer;

  .btn-remove:hover {
    background-color: #c0392b;
  }
}

.btn-clean{
    background-color: transparent;
    border: none;
    color: black;
    padding: 5px 5px;
    border-radius: 4px;
    cursor: pointer;
}